body {
    width: 100%;
    height: 100%;
    font-family: "Cantarell";
}

main, .logo {
  margin-left: 5%;
  margin-right: 5%;
}

header, footer, main {
  flex-direction: column;
}

header, footer {
  background-color: #f2f2f2;
}

header { margin-bottom: 1%; }
footer { margin-top: 1%; }
.flex {
  display: flex;
}
